nav{
    color: white;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.yellowButton{
    background-color: #febd69;
    width: 45px;
}

input{
    width: 500px;
}

.input-group{
    height: 30px;
}