<header>
    <nav class="d-flex justify-content-around">
        <div>
            Amazon
        </div>
        <div>
            Address
        </div>
        <form class="d-flex ">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">All</span>
            </div>
            <input class="form-control " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success  yellowButton" type="submit">Q</button>

        </form>
        <div>
            India
        </div>
        <div class="d-flex flex-column">
            <div>Hello,Gopal</div>
            <div>Accounts & lists</div>
        </div>
        <div class="d-flex flex-column">
            <div>Return</div>
            <div>& Orders</div>
        </div>
        <div>
            Cart
        </div>

    </nav>

</header>